<br><br>
<div class="row">
    <div class="col-md-3">
            <ul class="nav">
                    <li><a routerLink="privacy">Privacy  policy</a></li>
                    <li><a routerLink="terms">terms of use</a></li>
                    <li><a routerLink="copyrights">Copyright Policy</a></li>
                    <li> <a routerLink="about">About Us</a></li>
                    <li> <a routerLink="contact">contact Us</a></li>
                    <li>  <a routerLink="chat">Online Chat</a></li>
        
                </ul>
    </div>
    <div class="col-md-9">
       <router-outlet></router-outlet>
    </div>
</div>