<br><br>
<div class="container-fluid footerinfo">
    <div class="row">
        <div class="col-md-6 text-left">
            <a routerLink="company/privacy">Privacy  policy</a>
            <a routerLink="company/terms">terms of use</a>
            <a routerLink="company/copyrights">Copyright Policy</a>
        </div>
        <div class="col-md-6 text-right">
            <a routerLink="company/about">About Us</a>
            <a routerLink="company/contact">contact Us</a>
            <a routerLink="company/chat">Online Chat</a>
        </div>
        
    </div>
</div>