<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">
            <h2 class="text-info">Contact us</h2>
            
            <div class="form-group">
          <label>Your Company Name</label>
           <input type="text" class="form-control">
          </div>

          <div class="form-group">
         <label>Your Contact NUmber</label>
        <input type="text" class="form-control">
         </div>

          <div class="form-group">
         <label>e-mail id</label>
          <input type="text" class="form-control">
           </div>

           <div class="form-group">
                <label>Describe your Issues</label>
                <textarea class="form-control"></textarea>
          </div>

                <button class="btn btn-danger btn-block">Send Message</button>

    </div>
    <div class="col-md-4">
        <br>
        <div class="panel panel-primary">
            <div class="panel-heading">Contact Information</div>
            <div class="panel-body">
                <p>Phone no:0213145245545</p>
                <p>e-mail :abc@gmail.com</p>
                <p>Adress: maratahahalli  bangalore</p>
            </div>
        </div>
    </div>
</div>