<h2 class="text-info">Privacy & Policy</h2>

<p>
    harsha harsha  harsha harsha harsha harsha harsha harsha
    harsha harsha  harsha harsha harsha harsha harsha harsha
    harsha harsha  harsha harsha harsha harsha harsha harsha
    harsha harsha  harsha harsha harsha harsha harsha harsha
    harsha harsha  harsha harsha harsha harsha harsha harsha
    harsha harsha  harsha harsha harsha harsha harsha harsha
    harsha harsha  harsha harsha harsha harsha harsha harsha
    harsha harsha  harsha harsha harsha harsha harsha harsha
</p>