<div class="row">
    <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">my Contact</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>Moblie number</label>
                        <input type="text" class="form-control" [(ngModel)]="moblie">
                    </div>
                    <div class="form-group">
                        <label> Land line number</label>
                        <input type="text" class="form-control" [(ngModel)]="landline">
                    </div>
                     
                    <div class="form-group">
                        <label> e-mail id</label>
                        <input type="text" class="form-control"[(ngModel)]="email">
                    </div>
                    <div class="form-group">
                        <label>website url </label>
                        <input type="text" class="form-control"[(ngModel)]="website">
                    </div>
                    <div class="text-center">
                    <button class="btn btn-info btn-block">update</button>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">Social Media url</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>Facebook Url</label>
                        <input type="text" class="form-control"[(ngModel)]="facebook">
                    </div>
                    <div class="form-group">
                        <label> Linkin Url</label>
                        <input type="text" class="form-control"[(ngModel)]="linkedin">
                    </div>
                     
                    <div class="form-group">
                        <label>twitter Url</label>
                        <input type="text" class="form-control"[(ngModel)]="twitter">
                    </div>
                    <div class="form-group">
                        <label>Google url </label>
                        <input type="text" class="form-control"[(ngModel)]="google">
                    </div>
                    <button class="btn btn-danger btn-block">update</button>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
</div>